.list-wrap a{
    color:#000;
}
.t-breadcrumbs {
    position: absolute;
    top: 23px;
    left: 23px;
    color: #fff;   
}
.t-breadcrumbs .breadcrumbs-item-text{
    font-size: 1em;
    line-height: 20px;
    margin: 0;
}
.breadcrumbs a{
    color:#fff;
}
.m-sub-menu .list-wrap .pro .children-pro .title{
    font-size: 16px;
    text-align: left;
}
.page_wrapper{
    position:relative;
    padding-top:60px;
    width:100%;
    background:#fff;
}
.ppt1{
    width:100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
}
.ppt1 .banner_wrapper1{
    width:100%;
    position:fixed;
}
.ppt1 .banner_wrapper1 .img_box{
    width:100%;
}
.ppt1 .banner_wrapper1 .img_box img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.ppt1 .title-header{
    position: absolute;
    color:#fff;
    font-size:2.5rem;
    letter-spacing: 3px;
    left: calc(50% - 64px);
    top: calc(50% - 20px);
}
.ppt1 .tubiao{
    position: absolute;
    color: #fff;
    left: calc(50% + 91px);
    top: calc(50% - 18px);
    font-size: 40px;
    cursor: pointer;
}
.columns-top{
    background: rgba(0,0,0,.9) !important;
    height: 100vh;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    z-index:-99;
    transition: all 0.64s ease 0s;
}
.columns-top.show{
    opacity:1;
    z-index: 999999999;
}
.wrapper{
    padding-top: 13%;
}
.wrapper ul{  
    text-align: center;
    font-size: 30px;
}
.wrapper ul li{
    width: 200px;
    margin: 0 auto;
    padding: 20px 0;
    cursor: pointer;
    color: #717171;
}

.wrapper ul li.active,.wrapper ul li:hover{
    color: #fff;
}
.wrapper .tubiao2{
    position: absolute;
    right: 115px;
    color: #fff;
    font-size: 45px;
    top: 78px;
    display:inline-block;
    cursor: pointer;
}
.wrapper .tubiao2:hover{
    color: #c40d2e;
}
.ppt2{
    width:100%;
    position: relative;
    margin-top: 21%;
    left:0;
    z-index:999;
}
.ppt2 .wrapper2{
    background:#fff;
    padding-top:120px;
    padding-bottom:145px;
}
.ppt2 .wrapper2 .img_box{
    width: 45%;
    padding-top: 100px;
    margin: 0 auto;
}
.ppt2 .wrapper2 .img_box img,
.ppt3 .wrapper3 .img_box img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.ppt2 .wrapper2 .p_box1,
.ppt3 .wrapper3 .p_box1,
.ppt5 .p_box1{
    letter-spacing: 3px;
    width: 57%;
    margin: 0px auto;
    text-align:justify;
    text-align-last:center;
}
.title{
    font-size:28px;
    color:#bf001d;
    text-align:center;
}
.content{
    padding:20px;
}
.ppt3{
    position:relative;
    width:100%;
    z-index:999;
    margin-top: -2px;
}
.ppt3 .wrapper3{
    background:#fff;
}
.ppt3 .wrapper3 .img_box{
    width:100%;
    padding-top: 75px;
}
.ppt3 .wrapper3 .img_box img{
    min-height:200px;
}
.ppt4{
    width:100%;
    position: relative;
    padding-top: 120px;
    background: #fff;
    z-index:999;
}
.ppt4 .box_wrapper{
    width:80%;
    margin:0 auto;
    display:table;
    position: relative;
    padding-top: 100px;
    z-index:9;
}
.ppt4 .img_box1{
    width: 57%;
    position: relative;
    left: 43%;
    z-index: 2;

}
.ppt4 .img_box2{
    width: 52%;
    position: absolute;
    top: 40%;
    left: 0;
}
.ppt4 .img_box3{
    width: 25%;
    position: relative;
    left: 56%;
    padding-top: 4%;
}
.ppt4 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.ppt5{
  position: relative;
  width:100%;
  padding-top:100px;
  text-align:center;
  background: #fff;
  z-index:999;
  top:-2px;
  padding-bottom: 35px;
}
.ppt6{
    width:100%;
    position: relative;
    background:#fff;
}
.ppt6 .img_box{
    width:100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    display:none;
}
.ppt6 .img_box img{
    width:100%;
    height:100%;
    object-fit: cover;
    
} 
.ppt7{
    position: relative;
    width:100%;
    z-index:999;
    margin-top: 700px;
}
.ppt7 .introduce_wrapper{
    background:#fff;
}
.ppt7 .introduce{
    position: relative;
    width:80%;
    display:flex;
    align-content: center;
    align-items: center;
    margin:0px auto;
    padding-top: 30px;
}
.ppt7 .introduce .img_box{
    width:50%;
    padding:2%;
}
.ppt7 .introduce:nth-child(2) .img_box{
    order:1;
}
.ppt7 .introduce .img_box img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.ppt7 .introduce .p_box{
    width:50%;
    padding:2%;
    letter-spacing: 3px;
    
}
.ppt7 .introduce .p_box .title{
    font-size: 25px;
    color: #bf001d;
    padding: 2% 0 0 3%;
    text-align:left;
}
.ppt8{
    position: relative;
    width:100%;
    z-index:999;
    background: #fff;
    padding: 120px 0;
    margin-top: -2px;
}
.ppt8 .content-title{
    position: relative;
    top: -77px;
    text-align: center;
}
.ppt8 .content-title .p1{
    font-size:24px;
    color:#bf001d;
}
.ppt8 .content-title .p2{
    padding:20px 18px;
}
.ppt8 .swiper-container1{
    position: relative;
}
.ppt8 .swiper-container1 .swiper-wrapper img{
    width:100%;
    height:100%;
    min-width:100px;
    object-fit: cover;
}

.ppt8 .swiper-pagination.swiper-pagination1.swiper-pagination-fraction{
    top: -50px;
    color:#bf001d;
    z-index:-90;
    height:30px;
}
.ppt8 .swiper-pagination.swiper-pagination1.swiper-pagination-fraction::after{
    content: '\e615';
    position: absolute;
    left: calc(50% - 10px);
    font-size: 20px;
    bottom: -7px;
    font-family: 'iconfont';
}
.ppt8 .swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 25%;
    bottom: -37px;
    z-index: 50;
    height: 4px;
    width: 45%;
    background-color: #e9e9ea;
}
.ppt8 .swiper-scrollbar-drag {
    width: 50%;
    position: relative;
    background: #bf001d;
    border-radius: 10px;
    left: 0px;
    top: 0;
}
.ppt8 .swiper-button-next1{
    z-index: 99;
    width: 1px!important;
    height: 0px;
    right: 0px;
    padding: 31px;
    background-color: #bf001d;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    background-size: 12px;
}
.ppt8 .swiper-button-next1:hover{
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23bf001d'%2F%3E%3C%2Fsvg%3E");
}
.ppt8 .swiper-button-prev1{
    z-index: 99;
    width: 1px!important;
    height: 0px;
    left: 0px;
    padding: 31px;
    background-color: #bf001d;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    background-size: 12px;
}
.ppt8 .swiper-button-prev1:hover{
    background-color: #fff;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23bf001d'%2F%3E%3C%2Fsvg%3E");
}
.ppt8 .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
    opacity:0!important;
}

.ppt8 .swiper-slide:hover .swiper-slide p{
    opacity:1!important;
    color:#bf001d;
}
.ppt8 .swiper-slide p{
    width: 200px;
    position: relative;
    padding-top: 20px;
    left: calc(50% - 100px);
    text-align: center;
    opacity:0;
}
.ppt8 .swiper-slide.swiper-slide-active p{
    opacity:1;
}
.ppt8 .swiper-slide .wrapper::after{
    content: '';
    position: absolute;
    border: 1px solid #c5c5c5;
    width: 148%;
    height: 109%;
    left: -38px;
    top: -20px;
    display:none;
} 
.ppt8 .swiper-slide.swiper-slide-active .wrapper:hover::after{
    display:none;
}
.ppt8 .swiper-slide .wrapper:hover::after{
    display:block;
}
.ppt8 .swiper-slide:hover p{
    opacity:1;
    color:#bf001d;
}

.ppt9{
    position:relative;
    width:100%;
    background:#fff;
}
.ppt9 .wrapper9{
    width:100%;
}
.ppt9 .wrapper9 .img_box{
    width:100%;
}
.ppt9 .wrapper9 .img_box img{
    width:100%;
    height:100%;
    object-fit: cover;
    min-height: 400px;
}
.ppt9 .wrapper9 .p_box{
    position: absolute;
    top: calc(50% - 48px);
    right: 10%;
    color: #fff;
    width: 28%;
    text-align:center;
}
.ppt9 .wrapper9 .p_box .title9{
    font-size:20px;
}
.ppt9 .wrapper9 .p_box .content9{
    padding:15px 0;
    line-height:1.5;
}
.ppt9 .wrapper9 .p_box .detail{
    border: 1px solid #fff;
    width: 200px;
    padding: 12px 18px;
    margin: 10px auto;
}
.ppt9 .wrapper9 .p_box .detail:hover{
    background:#bf001d;
    color:#fff;
    border:none;
}
.ppt9 .wrapper9 .p_box .detail a{
    color:#fff;
}
.ppt10{
    position: relative;
    width:100%;
    background:#fff;
    padding-bottom: 60px;
}
.ppt10 .wrapper10{
    width:85%;
    display:flex;
    margin:0 auto;
    padding-top: 120px;
    align-content: center;
    align-items: center;
}
.ppt10 .wrapper10 .p_box{
    width:60%;
    padding-right: 10%;
    text-align:left;
    letter-spacing: 3px;
}
.ppt10 .wrapper10 .p_box .title{
    text-align:left;
}
.ppt10 .wrapper10 .p_box .content{
    padding: 20px 0 20px 0;
    width: 78%;
}
.ppt10 .wrapper10 .p_box .detail{
    border: 1px solid #e5e5e5;
    width: 150px;
    padding: 12px 38px;
}
.ppt10 .wrapper10 .p_box .detail a{
    color:#000;
}
.ppt10 .wrapper10 .p_box .detail:hover{
    background:#bf001d;
}
.ppt10 .wrapper10 .p_box .detail:hover a{
    color:#fff;
}
.ppt10 .wrapper10 .img_wrapper{
    width:40%;
}
.ppt10 .wrapper10 .img_wrapper .img_box{
    width:50%;
}
.ppt10 .wrapper10 .img_box .img10{
    width:100%;
    height:100%;
    object-fit: cover;
} 
.ppt11{
    position: relative;
    width:100%;
    height: 66px;
    background:#fff;
}
.ppt11 .category-footer{
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    /* transform: translate3d(0,70px,0); */
    bottom: 0;
    left: 0;
    display: block;
    border-top: 1px solid #fff;
    font-size: 0;
}
.ppt11 .category-footer .category-footer-item{
    float: none;
    width: auto;
    display: inline-block;
    margin-right: 45px;
    margin-left: 45px;
}
.ppt11 .category-footer .category-footer-item .category-footer-link{
    display: block;
    line-height: 60px;
    font-size: 15px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    color:#000;
    transition: color .15s ease;
}
.category-footer .category-footer-item .category-footer-link.active:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background: #c40d2e;
    transition: left .6s cubic-bezier(.19,1,.22,1),width .6s cubic-bezier(.19,1,.22,1);
    left: 0;
    width: 100%;
    height: 5px;
}
.category-footer .category-footer-item .category-footer-link:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0;
    height: 5px;
    background: #c40d2e;
    transition: left .6s cubic-bezier(.19,1,.22,1),width .6s cubic-bezier(.19,1,.22,1);
}
.category-footer .category-footer-item .category-footer-link:hover.category-footer-link:after{
    width: 100%;
    
}
.category-footer .category-footer-item .category-footer-link:hover{
    color:#c40d2e;
}
.ppt11 .category-footer .category-footer-item a.active{
    color: #c40d2e;
    transition: left .6s cubic-bezier(.95,.05,.795,.035),width .6s cubic-bezier(.95,.05,.795,.035);
}

.ppt11 .category-footer .category-footer-item a span{
    display: inline-block;
    line-height: 120%;
    vertical-align: middle;
}

.footer {
    position: relative;
    width: 100%;
    padding-top: 50px;
    background: #fff;
}
.footer a{
    color:#000;
}
.footer .title{
    text-align:left;
}
.footer .man .title{
    text-align:center;
}
@media screen and (min-width: 960px) and (max-width: 1440px) {
    .ppt2 .wrapper2{
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .ppt7 .introduce{
        width:85%;
    }
    .ppt8 .swiper-slide p{
        left:-53px;
    }
}
@media screen and (min-width: 650px) and (max-width: 960px) {
    .ppt1 p{
        font-size: 19px;
        left: calc(50% - 44px);
        top: calc(50% - 12.5px);
    }
    .ppt1 .tubiao{
        font-size: 24px;
        left: calc(50% + 52px);
        top: calc(50% - 14px);
    }
    .columns{
        padding-top: 30px;
    }
    .columns-wrapper{
        margin-top:30%;
    }
    .ppt2 .wrapper2{
        padding-top:70px;
        padding-bottom: 60px;
    }
    .ppt2 .wrapper2 .p_box1, .ppt3 .wrapper3 .p_box1, .ppt5 .p_box1{
        width: 80%;
    }
    .ppt2 .wrapper2 .img_box{
        padding-top:40px;
    }
    .ppt4{
        padding-top: 80px;
    }
    .ppt4 .box_wrapper {
        right: 15%;
        padding-top: 71px;
    }
    .ppt4 .img_box1 {
        width: 85%;
        left: 37%;
    }
    .ppt4 .img_box2 {
        width: 85%;
        top: 42%;
        left: 15%;
    }
    .ppt4 .img_box3 {
        width: 51%;
        left: 70%;
        padding-top: 49%;
    }
    .ppt7 .introduce{
        width:80%;
        flex-wrap: wrap;
    }
    .ppt7 .introduce .img_box{
        width:100%;
        }
    .ppt7 .introduce .p_box{
        width:100%;
        text-align:center;
        }
    .ppt7 .introduce .p_box .title{
        text-align:center;
    }
    .ppt7 .introduce:nth-child(2) .img_box{
        order:0; 
      }
    .ppt8 .swiper-slide p{
        left:-53px;
    }
    .ppt9 .wrapper9 .p_box {
        top: calc(50% - 109px);
        width: 35%;
    }
    .ppt10 .wrapper10{
        width:90%;
    }
    .ppt10 .wrapper10 .img_wrapper .img_box{
        margin-left: 13%;
    }
    .ppt10 .wrapper10 .p_box{
        padding-right: 0;
    }
}


@media screen and (max-width:650px){
    .ppt1{
        position: relative;
        top:0;
    }
    .ppt1 .banner_wrapper1{
        position: relative;
    }
    .ppt1 .banner_wrapper1 .img_box img{
        min-height:230px;
    }
    .ppt1 p {
        font-size: 22px;
        left: calc(50% - 61px);
        top: calc(50% - 23px);
    }
    .ppt1 .tubiao {
        left: calc(50% + 55px);
        top: calc(50% - 16px);
        font-size: 30px;
    }
    .t-breadcrumbs{
        display:none;
    }
    .wrapper {
        padding-top: 21%;
    }
    .wrapper ul{
        font-size:25px;
    }
    .wrapper .tubiao2{
        font-size: 32px;
        right: 27px;
        top: 31px;
    }
    .ppt2{
        margin-top:60px;
    }
    .ppt2 .wrapper2{
        padding-top:0;
        padding-bottom: 60px;
    }
    .ppt2 .wrapper2 .p_box1, .ppt3 .wrapper3 .p_box1, .ppt5 .p_box1{
        width:90%;
    }
    .ppt2 .wrapper2 .img_box{
        width: 58%;
        padding-top: 30px;
    }
    .title{
        font-size:20px;
    }
    .ppt3 .wrapper3 .img_box{
        padding-top: 50px;
    }
    .ppt4{
        padding-top: 80px;
    }
    .ppt4 .title{
        padding: 0 10px;
    }
    .ppt4 .box_wrapper{
        right: 15%;
        padding-top: 45px;
    }
    .ppt4 .img_box1{
        width: 100%;
        left: 28%;
    }
    .ppt4 .img_box2 {
        width: 100%;
        top: 43%;
        left: 11%;
    }
    .ppt4 .img_box3 {
        width: 66%;
        left: 60%;
        padding-top: 57%;
    }
    .ppt6 .img_box{
        position: relative;
        height:auto;
    }
    .ppt6 .img_box img{
        min-height:250px;
    }
    .ppt7 {
        margin-top: 2%;
    }
    .ppt7 .introduce{
        width:90%;
        flex-wrap: wrap;
    }
    .ppt7 .introduce .img_box{
        width:100%;
        }
    .ppt7 .introduce .p_box{
        width:100%;
        text-align:center;
        }
    .ppt7 .introduce .p_box .title{
        text-align:center;
        font-size:20px;
    }
    .ppt7 .introduce:nth-child(2) .img_box{
        order:0; 
      }
    .ppt8 .swiper-slide p{
        left:-53px;
    }
    .ppt8 .swiper-button-next1,.ppt8 .swiper-button-prev1{
        padding: 25px;
        background-size: 8px;
    }
    .ppt8 .content-title .p1{
        font-size:20px;
    }
    .ppt9 .wrapper9 .p_box {
        top: calc(50% - 99px);
        width: 80%;
        text-align: center;
    }
    .columns-wrapper{
        margin-top:0;
        padding-left: 4%;
    }
    .column-main{
        width:90%;
        padding-top: 100px;
    }
    .ppt10 .wrapper10{
        width: 90%;
        display: flex;
        margin: 0 auto;
        padding-top: 106px;
        flex-wrap: wrap;
    }
    .ppt10 .wrapper10 .p_box{
        width: 100%;
        text-align: center;
        order: 1;
        margin: 0 auto;
        padding-top: 43px;
        padding-right:0;
    }
    .ppt10 .wrapper10 .p_box .title{
        text-align: center;
    }
    .ppt10 .wrapper10 .p_box .content{
        width:100%;
    }
    .ppt10 .wrapper10 .p_box .detail{
        margin:0 auto;
    }
    .ppt10 .wrapper10 .img_wrapper {
        width: 40%;
        margin: 0 auto;
    }
    .ppt10 .wrapper10 .img_wrapper .img_box {
        width: 100%;
    }
    .ppt11 .category-footer .category-footer-item{
        float: left;
        width: 50%;
        vertical-align: bottom;
        margin:0;
    }
}