.t-breadcrumbs {
    margin: 85px 35px 0 35px;
    color:#7a7a7a;
}
.t-breadcrumbs .breadcrumbs-item-text{
    font-size: 1em;
    line-height: 20px;
    color: #000;
    margin: 0;
}
.t-breadcrumbs .breadcrumbs-item-title{
    color: #c40d2e;
}
.ppt1{
    position:relative;
    width:100%;
    text-align:center;
    padding-top:40px;
}
.ppt1 .back{
    position:relative;
    padding:30px 0;
}
.ppt1 .back::before{
    content:"\e771";
    line-height: 20px;
    position: absolute;
    left: -20px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
.ppt1 .title{
    font-size: 28px;
    color: #c40d2e;
    padding: 30px 10px;
    letter-spacing: 2px;
}
.ppt2{
    position: relative;
    width:100%;
}
.ppt2 .content_wrapper{
    width:80%;
    margin:0 auto;
}
.ppt2 .content_wrapper .img_box2{
    width: 90%;
    margin: 0 auto;
}
.ppt2 .content_wrapper .img_box2 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.ppt2 .content_wrapper .p_box2{
    padding: 40px 0;
    line-height: 2.5;
    letter-spacing: 3px;
    width: 90%;
    padding-left: 5%;
} 
.ppt3{
    position:relative;
    width:100%;
    letter-spacing: 2px;
    padding-top: 75px;
  }
  .ppt3 .title{
      font-size:25px;
      color:#c40d2e;
      text-align:center;
  }
  .ppt3 .content-wrapper{
      width:72%;
      margin:50px auto;
  }
  .ppt3 .content-wrapper .stories-list{
      margin:0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .ppt3 .content-wrapper .stories-list .stories-list-item{
      width: 25%;
      padding: 0 7px;
  }
  .ppt3 .content-wrapper .stories-list .stories-list-item:hover .p_box .title{
      color:#c40d2e;
  }
  .ppt3 .content-wrapper .stories-list .stories-list-item .p_box .title{
    font-size:18px;
    color:#000;
    text-align:left;
    padding:20px 0;
}
  .ppt3 .content-wrapper .stories-list .img_box{
      width:100%;
      overflow:hidden;
      font-size:0;
      
  }
  .ppt3 .content-wrapper .stories-list .img_box img{
      width:100%;
      height:100%;
      object-fit: cover;
      transition:all 0.5s;
  }
  .ppt3 .content-wrapper .stories-list .img_box:hover img{
      transform: scale(1.2);
  }
  .footer {
    padding-top: 96px;
}

@media screen and (min-width: 950px) and (max-width: 1315px) {
    .ppt2 .content_wrapper{
        width:90%;
    }
    .ppt3 .content-wrapper{
        width: 78%;
    }
    .ppt3 .content-wrapper .stories-list .stories-list-item {
        width: 33%;
        padding: 0px 7px 20px 0;
    }
}
@media screen and (min-width: 640px) and (max-width: 950px) {
    .ppt2 .content_wrapper{
        width:90%;
    }
    .ppt3 .content-wrapper{
        width: 83%;
    }
    .ppt3 .content-wrapper .stories-list .stories-list-item {
        width: 50%;
        padding: 0px 10px 20px 0;
    }
   }
@media screen  and (max-width: 640px) {
    .ppt1{
        padding-top:16px;
    }
    .ppt1 .title{
        font-size:20px;
    }
    .iconfont{
        font-size:14px;
    }
    .breadcrumbs{
        display:none;
    }
    .ppt2 .content_wrapper{
        width:100%;
    }
    .ppt2 .content_wrapper .p_box2{
        padding-left: 0;
        margin: 0 auto;
    }
    .ppt3 .title{
        font-size:20px;
    }
    .ppt3 .content-wrapper{
        width: 90%;
    }
    .ppt3 .content-wrapper .stories-list{
        margin:0;
    }
    .ppt3 .content-wrapper .stories-list .stories-list-item {
        width: 100%;
        padding: 0px 10px 20px 0;
    }
   }